body{
    background-color: #f12b2f;
    background-image: radial-gradient(circle, #f12b2f 0%, #eff45a 100%);
}

.nombre{
    color: yellow;
    font-family: 'Impact', sans-serif;
    font-size: 7rem;
    position: relative;
    margin: 20px;
    top: 0px;
    left: 15%;
    transform: skewY(-25deg);
    transform: skewX(25deg);
    -webkit-text-stroke: 0.1px black;
}

#cabeza{
    display:flex;
    
}

#logo{
    position: relative;
    width: 10rem;
    height: 7rem;
    left: 0px;
    margin: 20px;
}

#logoimg{
    position: absolute;
    width: 10rem;
    height: 7rem;
    top: 0px;
    left: 0px;
}

#inicio{
    position: relative;
    height: 600px;
    width: 100%;
    top: 0px;
}

#startImg{
    width: 0%;
}